<div >

    <div class="row-fluid">
        <ul class='thumbnails'>

        <% for( var i = 0; i<data.length; i++){ %>

            <li class='row-fluid span4'>
                <div class="thumbnail">
                    <div class='span12'><%= data[i].Route_Name %></div>
                    <form action="/" method="post">
                        <input type="hidden" id="line" name="line" value=
                            <%= data[i].Route_Name[ data[i].Route_Name.length -1] %>
                        >
                        <button 
                            <% if(data[i].Vehicle_ID===2000) { %> 
                               class = "btn  btn-large btn-success"  
                            <% }else{ %>
                               class = "btn  btn-large "
                            <% } %>
                            
                            type="submit">选择</button>
                    </form>
                </div>
            </li>
        <% } %>

    </div>

    <script>
        $(function(){
            $('.btn').bind('click', function(e){
                e.preventDefault(); // preventing default click action
                var post_data = $(e.srcElement.form).serialize();
                $.ajax({
                    url: '/driver',
                    type: 'post',
                    data: post_data,
                    success: function(){
                        console.log("yes", post_data);
                        $('.btn').toggleClass('btn-success',false);
                        $(e.srcElement).toggleClass('btn-success');
                        // ajax callback
                    },
                    error: function(){
                        alert('ajax failed');
                    }
                })
            })
        })
    </script>

</div>