<!DOCTYPE html>
<html>
	<head>
		<title><%- title|| '快巴士' %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="/styles/bootstrap.min.2.3.1.css" rel="stylesheet" type="text/css" media="screen">
        <link href="/styles/bootstrap-responsive.min.2.3.1.css" rel="stylesheet" type="text/css"  media="screen">
        <link href="/styles/main.css" rel="stylesheet" type="text/css"  media="screen">

        <script type="text/javascript" src="/js/jquery.min.1.7.js"></script>
        <script type="text/javascript" src="/js/underscore-min.1.4.4.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.2.3.1.js"></script>
	</head>
    
	<body>
		<div class="navbar navbar-fixed-top ">
      <div class="navbar-inner">
        <div class="container">
          <div class="brand">Quickbus@node</div>
          <ul class="nav">
            <li><a href="#">link1</a></li>
            <li><a href="#">link2</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container well">
			<%- body %>
	</div>
		<!-- Templates from your view path are included here -->
	</body>
</html>
